body {
  margin: 0;
}

.dashboard {
  display: flex;
  min-height: 100vh;
  /* Slidebar ukuran dari bawah*/
}

.sidebar {
  width: 200px;
  /* bar yang ada di Admin-Panel */
  background: #4e342e;
  /* Warna Text di slidebar */
  color: white;
  padding: 10px;
  /* font admin panel */
  font-family: "Times New Roman", Times, serif;
}

/* utk tempat gerakan di slidebar(Dashboard,..dll) */
.sidebar ul {
  padding: 5px;
}

/* jaga jarak antar item di slidebar */
.sidebar ul li {
  margin: 15px;
  padding: 5px;
}

/* warna/ tebal / font yang dari Dashboard ke bawah nya*/
.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: arial, serif;
  /* font admin panel */
}

/* Main content tetap Arial */
.main-content {
  flex: 1;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* ukuran header (+ Produk Baru) */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* judul admin panel */
.header h1 {
  font-family: "Times New Roman", Times, serif;
}

/* utk tombol Produk Baru */
.add-product {
  background: #2e7d32;
  color: white;
  padding: 15px 10px;
  font-weight: bold;
  /* utk tebalin tombol */
}

/* code ini utk menjauhi dengan header */
.product-table {
  width: 100%;
  /* utk ukuran tabel */
  border-collapse: collapse;
  /* utk tebalin tabel*/
  margin-top: 20px;
  /* utk jarak tabel dari header */
}

/* untuk semua tabel mau ke arahin mid */
.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

/* untuk warna table bertama */
.product-table th {
  background: #faeae5;
}

/* sudut Gambar (tabel Gambar) */
.product-table img {
  width: 60px;
  height: 40px;
  object-fit: cover;
  border-radius: 8px;
}

/* Table Aksi yang ada di (Edit/Hapus) */
.product-table a {
  color: #2e7d32;
  font-weight: bold;
}